<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--配置开启扫描-->
    <context:component-scan base-package="com.yyyu.mmall.controller"/>
    <!-- 配置注解驱动 -->
    <mvc:annotation-driven />
    <context:property-placeholder location="classpath*:resource.properties"/>
    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
         <!--配置逻辑视图的前缀 -->
        <property name="prefix" value="/WEB-INF/view/" />
         <!--配置逻辑视图的后缀 -->
        <property name="suffix" value=".jsp" />
    </bean>
    <!-- 解决静态资源无法被springMVC处理的问题 -->
    <mvc:default-servlet-handler />
    <!--swagger配置文件-->
    <bean class="com.yyyu.mmall.swagger.SwaggerConfig"/>

    <!--jackson配置-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.yyyu.mmall.uitls.jackson.MyObjectMapper"/>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 文件上传 配置-->
    <bean id="fileUploadProgressListener" class="com.yyyu.mmall.uitls.upload.FileUploadProgressListener"/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600" />
        <property name="maxInMemorySize" value="4096" />
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <context:property-placeholder location="classpath*:resource.properties" />

</beans>